<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>fetch</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>127.0.0.1</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>TelemetryEndpoint</key>
	<string>$(TELEMETRY_ENDPOINT)</string>
	<key>TelemetryAPIKey</key>
	<string>$(TELEMETRY_API_KEY)</string>
	<key>WebAppURL</key>
	<string>$(WEB_APP_URL)</string>
	<key>NSCameraUsageDescription</key>
	<string>We need access to your camera to allow you to take photos of products and receipts for AI analysis.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to your photo library to allow you to upload images of products and receipts for AI analysis.</string>
</dict>
</plist>
