<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>fetch</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>TelemetryEndpoint</key>
	<string>http://localhost:8081/api/v1/telemetry/ping</string>
	<key>TelemetryAPIKey</key>
	<string>p2p-telemetry-key-default</string>
	<key>WebAppURL</key>
	<string>http://localhost:5173</string>
</dict>
</plist>
